.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Make both left and right sides stretch to match height */
    max-width: 800px; 
  }
  
  .login-container {
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    color: #000;
  }
  
  .right-side {
    width: 50%;
    padding: 20px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .right-side ul {
    list-style-type: none; /* Remove default list-style */
    padding-left: 20px;
  }
  
  .right-side ul li {
    margin-bottom: 10px;
    position: relative; /* Set position to relative for pseudo-element */
  }
  
  .right-side ul li::before {
    content: "\2713"; /* Unicode character for a tick (✓) */
    color: #007bff; /* Color of the tick */
    position: absolute;
    left: -20px; /* Position the tick to the left of the list item */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Change button background color */
    color: #fff; /* Change button text color to white */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* Darken button background on hover */
  }
  

  .left-header{
    color: #0056b3; 
  }

  .account-link {
    font-size: 0.8em;
    margin-top: 10px; /* Add space between button and text */
    text-align: center; /* Center align the text */
    display: block; /* Make it a block element to occupy the full width below the button */
  }
  
  .account-link a {
    color: #007bff; /* Use a color that matches your theme */
    text-decoration: none; /* No underline */
  }
  
  .account-link a:hover {
    text-decoration: underline; /* Underline on hover for better interaction */
  }
  
  